{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dummy page</title>
</head>

<body>
    <header>
        <h1>Welcome</h1>
    </header>
    <main>
        {% block content %}

            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% for language in available_languages %}
                        <option value="{{ language }}"{% if language == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language }}
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go">
            </form>
            
        {% endblock content %}
    </main>
</body>

</html>